*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #f1f1f2;
    overflow-y: scroll;
}
.banner1{
    width: 100%;
    height: 8%;
    background-color: #f68b1e;
    display: flex;
    justify-content: space-evenly;
}
.banner1 h1{
    font-size: 40px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,
    Segoe UI,Helvetica Neue,Arial,sans-serif;
    color: white;
    text-align: center;
}
.call{
    width: 15%;
    background-color: lightskyblue;
    text-align: center;
}
.call h1{
    font-size: 16px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,
    Segoe UI,Helvetica Neue,Arial,sans-serif;
    color: white;
}
.banner2{
    width: 100%;
    height: 4%;
    background-color: #f1f1f2;
    display: flex;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
}
.star, .star1{
    background-color:#f68b1e ;
    height: 20px;
    justify-content: center;
    width: 20px;
    align-items: center;
    border: none;
    border-radius: 50%;
}
.banner2 a{
    text-decoration: none;
    color: #f68b1e;
    cursor: pointer;
    margin-left: 15%;
}
.links{
    display: flex;
    list-style: none;
    right: 20%;
    margin-right: 20%;

}
.links li{
    margin: 15px;
}
.navbar{
    height: 11%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}
.navbar h2{
    font-family: Roboto,-apple-system,BlinkMacSystemFont,
    Segoe UI,Helvetica Neue,Arial,sans-serif;
     
}
.star1{
    margin-right: 100px;
}
.search{
    height: 50%;
    width: 30%;
    background-color: white;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid;
}
.magnify{
    height: 100%;
    width: 10%;
    background-color: transparent;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search{
    position: absolute;
    width: 85%;
    height: 80%;
    margin-left: 60px;
    border: 0;
}
.ssearch{
    height: 50%;
    width: 5%;
    background-color: #f68b1e;
    color: white;
    margin-left: 5px;
    border: 0;
    /* box-shadow: 5px  10% ; */
    border-radius: 4px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,
    Segoe UI,Helvetica Neue,Arial,sans-serif;
}
.dd1, .dd2, .dd3{
    height: 40%;
    width: 7%;
    background-color: white;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
}
.ddc, .ddl{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: pink;
    min-width: 160px;
    top: 100%;
    color: black;
    margin-left: 20px;
}
.dd1 .ddc.active{
    display: block;
}
.label{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.label h2{
    font-size: 16px;
    color: black;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,
    Segoe UI,Helvetica Neue,Arial,sans-serif;
    margin: 8px;
}
.sign{
    height: 50%;
}
.ddcc{
    display: flex;
}
.ddcc h3{
    font-family: Roboto,-apple-system,BlinkMacSystemFont,
    Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-size: 14px; 
    color: black;
}
.main{
    height: 70%;
    width: 80%;
    background-color: #f1f1f2;
    margin: auto;
    margin-top: 15px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
}
.cont1{
    width: 15%;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
}
.cont1 h5{
    line-height: 24px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,
    Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-size: 14px; 
    font-weight: 300;
    margin-left: 5px;
    margin-top: 5px;
}
.cont2{
    background-image: url(/images/jumia1.gif);
    background-size: cover;
    width: 60%;
    height: 70%;
    border-radius: 5px;
}
.cont3{
    width: 15%;
    height: 70%;
    background-color: #f1f1f2;
    border-radius: 5px;
}
.up{
    width: 100%;
    height: 45%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.u1{
    margin-top: 5px;
}
.u1 h5, h6{
    font-family: Roboto,-apple-system,BlinkMacSystemFont,
    Segoe UI,Helvetica Neue,Arial,sans-serif;
}
.down{
    background-image: url(/images/dgif.gif);
    background-size: contain;
    width: 100%;
    height: 50%;
    margin-top: 20px;
}
.carousel{
    height: 25%;
    width: 90%;
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
}
.nav{
    height: 30px;
    justify-content: center;
    width: 30px;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: rgba(0,0,0,.7);
}
.im1{
    height: 100%;
    width: 20%;
    background-color: transparent;
    margin-left: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.im1 h2{
    font-family: Roboto,-apple-system,BlinkMacSystemFont,
    Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-weight: 200;
    font-size: 16px;
}
.deals, .phones{
    height: 40%;
    width: 90%;
    background-color: blue;
    margin: auto;
    margin-top: 10px;
}
#phones{
    margin-top: 20px;
}
.header{
    height: 10%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.header h2, h1{
    font-family: Roboto,-apple-system,BlinkMacSystemFont,
    Segoe UI,Helvetica Neue,Arial,sans-serif;
}
.header h1{
    font-size: 20px;
    margin-left: 10px;
}
.header a{
    text-decoration: none;
    color: #f68b1e;
    font-size: 20px;
    cursor: pointer;
}
#head{
    background-color: #f68b1e;
    height: 15%;
    text-align: center;
}
#head h1{
    font-size: 20px;
}
#phone{
    color: black;
}
.items{
    height: 90%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.radio{
    height: 90%;
    width: 100%;
    background-color: white;
    display: flex; 
}
.item1{
    height: 100%;
    width: 15%;
    background-color: white;
}
.item1 h2, h4{
    font-family: Roboto,-apple-system,BlinkMacSystemFont,
    Segoe UI,Helvetica Neue,Arial,sans-serif;
    text-align:left;
}
.item1 h2{
    font-size: 13px;
}
.item1 h4{
    font-size: 11px;
    text-decoration: line-through;
    color: rgb(37, 37, 37);
}
.radio1{
    height: 100%;
    width: 15%;
    background-color: white;
}
.radio1 h2, h4{
    font-family: Roboto,-apple-system,BlinkMacSystemFont,
    Segoe UI,Helvetica Neue,Arial,sans-serif;
    text-align:left;
}
.radio1 h2{
    font-size: 13px;
}
.radio1 h4{
    font-size: 11px;
    text-decoration: line-through;
    color: rgb(37, 37, 37);
}

